body {text-align:center; padding:0; margin:0; color:#353A38; font-size:16px;}

/* Page */
#divPage { text-align:left; position:relative; margin:0 auto;font-family:verdana, sans-serif;
    line-height:1.6em; margin:0 5%;}

/* Header */
#divHeader {padding:0 1em; height:100px;}
#divHeader.small {height:3em;}

/* Banner */
#divBanner {height:2.8em; background:#fafafa; border-bottom:solid 1px #808080;
        padding-top:0.2em; font-family:verdana, sans-serif; font-size:0.8em;}
#divBanner form {display:inline; position:relative; top:0.4em;}
#divBanner a {text-decoration:none; color:#333!important;}

/* headings */
h1, h2, h3, h4, h5, h6 {font-family:georgia, serif; font-weight:normal; color:#246D62;}

/* Logo */
#pLogo a {display:block; width:400px; height:100px; background:url(../images/logosmall.png) no-repeat;
    position:absolute; top:5px; left:1em;}

/* Menu */
#ulMenu {padding:0; margin:0; position:absolute; top:0; right:0;}
#ulMenu li {padding:0; margin:0; float:left; list-style-type:none;}
#ulMenu li a {display:block; padding:0 1em;}

/* content */
div.contentfull {padding:1em;}
div.contentleft, div.contentright {float:left; width:49%;}
div.contentleft {padding:0 1% 0 0;}
div.contentright {padding:0 0 0 1%;}

/* Scroll */
ul.scroll {overflow-y:scroll; height:200px; border:inset 2px; width:70%;}
ul.scroll li {padding:0;}
ul.scroll li.divider {border-bottom:dashed 1px #808080;}

/* Loading */
#divLoading {text-align:center; display:none; padding:2em;}

/* Results */
ul.results {padding:0;margin:0;}
ul.results li {float:left;list-style-type:none;padding:0; margin:0; padding-bottom:1em;
    height:190px; font-size:0.8em; padding-bottom:1em; width:160px;}
ul.results li a {display:block; text-align:center;}

/* Home */
#divWelcome {text-align:center;}
#divWelcome #pCount {position:absolute; top:0; left:2em; font-size:0.8em;}
#divWelcome h1 {display:block; width:100%; height:190px; background:url(../images/logo.png) top center no-repeat;}

div.box {float:left; width:44%; padding:1%; margin:1% ;text-align:center;
        background:#ecf5f4;
        border-top:dashed 1px #5c6f7b; border-bottom:dashed 1px #5c6f7b; position:relative; 
        left:3%;    min-height:12em;}

/* Forms */
form ul {padding:0; margin:0;}
form ul li {list-style-type:none;padding:0; margin:0; padding-bottom:1em;}
form ul li label {display:block; font-size:1.3em; padding:0.3em 0;}
form ul li ul li label {display:inline; padding:0; font-size:0.8em;}
fieldset {border:none; padding:0; margin:0;}

/* Uploading images */
#divUploading {text-align:center; padding:3em 0; display:none;}

/* Warnings, messages & errors*/
#divWarning, #divMessages {font-size:0.9em;text-align:center; margin-bottom:1em; margin-top:1em;}
#divWarning {background:#ffbfbf;}
#divMessages {background:#d7efbb; color:#5f5f5f;}
input.error, textarea.error, select.error {border: solid 2px #EF5963;}
input.hint, textarea.hint {color:#bfbfbf; font-style:italic;}
small.error {background:#ff6f75;}

/* Hide */
.hide {display:none;}

/* Maps */
#divSpotMap {width:80%; height:200px; border:solid 1px #808080;}

/* Footer */
#divFooter {clear:left; text-align:center; padding-top:0.5em; font-size:0.8em; padding-bottom:1em;
        border-top:dashed 1px #5c6f7b; margin-top:4em;}
#divFooter ul {list-style-type:none;padding:0; margin:0;}
#divFooter ul li {display:inline;}

/* Tag cloud */
ul.tagcloud {margin:0; padding:0;}
ul.tagcloud li {display:inline; padding:0;list-style-type:none;}
ul.tagcloud li.tg1 {font-size:0.8em;}
ul.tagcloud li.tg2 {font-size:0.9em;}
ul.tagcloud li.tg3 {font-size:1em;}
ul.tagcloud li.tg4 {font-size:1.2em;}
ul.tagcloud li.tg5 {font-size:1.3em;}
ul.tagcloud li.tg6 {font-size:1.4em;}

/* Lists */
ul {padding:0; margin:0;list-style-type:none;}
ul.inline li {display:inline; padding:0;}
ul li.more {padding-top:1em;}

/* Clear */
br.clear {clear:left;}

/* Links */
a img {border:none;}

/* people */
p.person {clear:left; padding-bottom:2em;}
p.person img {float:left; width:150px; border:thin black solid; margin-right:1em;}

/* Highlight */
.highlight {background:#ffffaa; padding:0 0.3em;}

/* Full images */
#divFullImage ul {padding:1em 0;}
#divFullImage ul li {padding-bottom:0;}

/* 404 */
#the404 {text-align:center;}