body {text-align:center;}

/* Page */
#divPage {width:900px; text-align:left; position:relative; margin:0 auto;}

/* Header */
#divHeader {padding:0 1em;}

/* Menu */
#ulMenu {padding:0; margin:0; position:absolute; top:0; right:0;}
#ulMenu li {padding:0; margin:0; float:left; list-style-type:none;}
#ulMenu li a {display:block; padding:0 1em;}

/* Scroll */
ul.scroll {overflow-y:scroll; height:100px;}

/* Loading */
#divLoading {text-align:center; display:none; padding:2em;}