RewriteEngine On

RewriteRule ^parties/?$ parties.php [NC,L]
RewriteRule ^parties/([^/]+)/?$ leaflets.php?p=$1 [L,QSA]
RewriteRule ^parties/([^/]+)/rss/?$ leaflets.php?p=$1&rss=1 [NC,L]
RewriteRule ^constituencies/?$ constituencies.php [L,QSA]
RewriteRule ^constituencies/([^/]+)/?$ leaflets.php?n=$1 [NC,L]
RewriteRule ^constituencies/([^/]+)/rss/?$ leaflets.php?n=$1&rss=1 [NC,L]
RewriteRule ^leaflets/?$ leaflets.php [NC,L]
RewriteRule ^leaflets/rss/?$ leaflets.php?rss=1 [NC,L]
RewriteRule ^leaflets/([0-9]+)/?$ leaflet.php?q=$1 [NC,L]

RewriteRule ^about/?$ about.php [NC,L]
RewriteRule ^random/?$ random.php [NC,L]