RewriteEngine On

RewriteRule ^parties/?$ parties.php [NC,L]
RewriteRule ^parties/([^/]+)/?$ leaflets.php?p=$1 [L,QSA]
RewriteRule ^parties/([^/]+)/rss/?$ leaflets.php?p=$1&rss=1 [NC,L]
RewriteRule ^parties/([^/]+)/stats/?$ stats.php?p=$1 [NC,L]

RewriteRule ^constituencies/?$ constituencies.php [L,QSA]
RewriteRule ^constituencies/([^/]+)/?$ leaflets.php?n=$1 [L,QSA]
RewriteRule ^constituencies/([^/]+)/rss/?$ leaflets.php?n=$1&rss=1 [NC,L]

RewriteRule ^leaflets/?$ leaflets.php [NC,L]
RewriteRule ^leaflets/rss/?$ leaflets.php?rss=1 [NC,L]
RewriteRule ^leaflets/([0-9]+)/?$ leaflet.php?q=$1 [NC,L]

RewriteRule ^categories/?$ categories.php [NC,L]
RewriteRule ^categories/([0-9]+)/?$ leaflets.php?c=$1 [L,QSA]
RewriteRule ^categories/([0-9]+)/rss/?$ leaflets.php?c=$1&rss=1 [NC,L]

RewriteRule ^tags/?$ tags.php [L,QSA]
RewriteRule ^tags/([^/]+)/?$ leaflets.php?t=$1 [L,QSA]
RewriteRule ^tags/([^/]+)/rss/?$ leaflets.php?t=$1&rss=1 [NC,L]

RewriteRule ^browse/?$ browse.php [NC,L]
RewriteRule ^addupload/?$ addupload.php [NC,L]
RewriteRule ^report/?$ report.php [NC,L]
RewriteRule ^about/?$ about.php [NC,L]
RewriteRule ^notspots/?$ notspots.php [NC,L]
RewriteRule ^random/?$ random.php [NC,L]
RewriteRule ^analysis/?$ allstats.php [NC,L]

RewriteCond  %{HTTP_USER_AGENT}  Linux [NC]
RewriteRule  ^upload.php$         addupload.php  [L]

#php_value error_reporting 8191
#php_flag  log_errors on
